# --- Configuracion del Servidor ---
APP_PORT=3000
SESSION_SECRET="una_clave_secreta_para_sesiones"

# --- Configuracion de la Base de Datos (PostgreSQL) ---
# Establece DB_SYNC en "true" SOLO para la primera ejecucion para inicializar y poblar la base de datos.
# Despues de la primera ejecución, se recomienda establecerlo en "false" por seguridad.
DB_SYNC=true
DB_DIALECT="postgres"
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="fotaza2_db"
DB_USER="postgres"
DB_PASSWORD="tu_contraseña_de_postgres"

# --- Almacenamiento de Vercel Blob ---
# Obtener este token de la configuracion del proyecto en Vercel (no es necesario en desarrollo)
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."
