extends ../layout.pug

block metadata 
  link(rel="stylesheet", href="/css/formPostStyle.css")
  script(src="/js/formPostJS.js" type="module" defer) 

block content
  section.createPost_section
    .formPost_container
      h2 CREANDO ALBUM DE FOTAZAS 
      form(action="/post/formPost" method="POST") 
        #form_post
          #title_post
            label(for="title") Titulo:
            input(type="text" name="title" placeholder="Titulo del post..." required)
          #description_post
            label(for="description") Descripción:
            input(type="text" name="description" placeholder="Ingrese una breve descripción...")
          //-#tags_post
            label(for="title") Titulo:
            input(type="text" name="title" placeholder="Titulo del post..." required)
          button#create_btn.submit_post_btn(type="submit") CREAR ALBUM
          button#cancel_btn.submit_post_btn(type="button") CANCELAR