extend ../layout.pug

block metadata 


block content 
  section.viewPosts 
    h2 PUBLICACIONES
    button.newPost_btn(type="button") + Publicación
    .grid-container 
      if posts 
        each post in posts 
          .grid-item 
            a(href=`/post/${post.id}`)
              img(src=`/imagenes/${post.image}` alt=post.title || "Imagen de publicación" loading="lazy")
            .post-info 
              h4= post.title