extend ../layout.pug

block metadata 

block content 
  .post
    section.detailPost 
      h2 POST 
    section.contentPost 
      h2 IMAGENES
      .grid-container 
        if images 
          each image in images 
            .grid-item 
              a(href=``)
                img(src=`` alt=image.title || "Imagen de post" loading="lazy")
              .post-info 
                h4= image.title
        else 
          h6 NO HAY IMAGENES