include mixin/feedbackModalGlobal.pug

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title || "Fotaza 2"}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet", href="/css/layoutStyle.css")

    block metadata

    script(src="/js/main.js" type="module" defer)

  body
    header(style="position: relative; z-index: 9999;")
      div.navbar
        //- LOGO
        div#navbar-logo
          a#navbar-logo-link(href="/") FOTAZA 2
        //- BUSCADOR
        div#navbar-search
          form#navbar-search-form
            input#navbar-search-input(type="search" placeholder="Buscar etiquetas, usuarios, tags...")
            button#navbar-search-btn(type="submit" title="Buscar") 🔍

        //- MENU DE NAVEGACION
        nav.navbar-nav
          ul.navbar-nav-list
            if currentUser 
              //-VISTA USUARIO AUTENTICADO
              li.nav-item: a(href="/") EXPLORAR
              li.nav-item: a(href="/post/formPost") SUBIR IMAGEN
              li.nav-item: button#notifications-btn 🔔
              li.nav-item.user-menu-item
                button#user-btn 
                  img(src=(currentUser && currentUser.avatar_url) || '/imagenes/avatar/default-avatar.png' alt="Mi Perfil")
                #subnav-user-btn
                  ul
                    li: a(href="/dashboard") Mi Perfil
                    li: a(href="/dashboard/accountConfig") Configuración
                    hr
                    li: a(href="/auth/logout") Cerrar Sesión
            else
              //-VISTA USUARIO INVITADO
              li.nav-item: a(href="/auth/login") INICIAR SESION
              li.nav-item: a(href="/auth/register") REGISTRARSE

    //- CONTENIDO DINAMICO
    main
      block content

    //- FOOTER
    footer
      p © 2026 FOTAZA 2 - Todos los derechos reservados
      p Victor Jose David Malovini ULP - PW2

    //- MODAL GLOBAL (info o vacio, error, success)
    +feedbackModalGlobal('info', '', '', 'Aceptar')