extends ../layout.pug
include ../mixin/uploadConfirmation.pug

block metadata 
  link(rel="stylesheet", href="/css/authStyle.css")

block content 
  if isRegister
    +successConfirmation(
      "Registro Exitoso!!!.",
      `¡¡BIENVENIDO ${name}!!`,
      "Aceptar"
    )
  section.login-section
    .form-container
      h2 Iniciar Sesión
      form(action="/auth/login" method="POST")
        .form-group
          label(for="email") Email:
          input#email.form-control(type="email" name="email" placeholder="Ingresa tu email" value=email required)
        .form-group
          label(for="password") Contraseña:
          input#password.form-control(type="password" name="password" placeholder="Ingresa tu contraseña" required autocomplete="new-password")
        button.btn-submit(type="submit") Ingresar
      
      if error
        p.error=error 

      .form-footer
        p ¿No tienes cuenta? 
          a(href="/auth/register") Regístrate