extends ../layout.pug
include ../mixin/feedbackModal.pug

block metadata 
  link(rel="stylesheet", href="/css/authStyle.css")
  
block content 
  if error
    +feedbackModal(
      "Error en el registro!!!.",
      error,
      "Aceptar"
    )
  section.login-section
    .form-container
      h2 Únete a FOTAZA 2
      p ¿Ya tienes una cuenta? 
        a(href="/auth/login") Inicia sesión
      form(action="/auth/register" method="POST")
        .form-group
          label(for="lastName") Apellido:
          input#lastname.form-control(type="text" name="lastName" placeholder="Ingresa tu apellido" required)
        .form-group
          label(for="firstName") Nombre:
          input#firstname.form-control(type="text" name="firstName" placeholder="Ingresa tu nombre" required)
        .form-group
          label(for="dni") DNI:
          input#dni.form-control(type="text" name="dni" placeholder="Ingresa tu DNI" required)
        .form-group
          label(for="birthdate") Fecha de Nacimiento:
          input#birthdate.form-control(type="date" name="birthdate" placeholder="Ingresa tu fecha de nacimiento" required onkeydown="return false")
        .form-group
          label(for="nickname") Nickname:
          input#nickname.form-control(type="text" name="nickname" placeholder="Ingresa tu nickname (@tu_nombre)" required)
        .form-group
          label(for="email") Email:
          input#email.form-control(type="email" name="email" placeholder="Ingresa tu email" required)
        .form-group
          label(for="password") Contraseña:
          input#password.form-control(type="password" name="password" placeholder="Ingresa tu contraseña" required autocomplete="new-password")
        button.btn-submit(type="submit") Únete 